.77_3504 { 
	overflow:hidden;
}
.e77_3504 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1668px;
	position:absolute;
}
.e99_5261 { 
	width:2062px;
	height:447px;
	position:absolute;
	left:-43px;
	top:1597px;
}
.e99_5262 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1920px;
	height:300px;
	position:absolute;
	left:43px;
	top:63px;
}
.e99_5263 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:21px;
	position:absolute;
	left:203px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e99_5264 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:21px;
	position:absolute;
	left:651px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e99_5265 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:1066px;
	top:157px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e99_5266 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:962px;
	top:157px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e99_5267 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:861px;
	top:157px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e99_5268 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:762px;
	top:157px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e99_5269 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:668px;
	top:157px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e99_5270 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:21px;
	position:absolute;
	left:1772px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e99_5271 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:21px;
	position:absolute;
	left:443px;
	top:94px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e99_5272 { 
	width:614px;
	height:141px;
	position:absolute;
	left:594px;
	top:195px;
	background-image:url(images/image_161.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e77_3506 { 
	width:1920px;
	height:605.7210083007812px;
	position:absolute;
	left:0px;
	top:102px;
	background-image:url(images/front_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e77_3507 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1578px;
	position:absolute;
	left:0px;
	top:90px;
	border-radius:Symbol(figma.mixed)px;
}
.e357_9240 { 
	width:566px;
	height:712px;
	position:absolute;
	left:1370px;
	top:157px;
}
.e357_9241 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:438px;
	height:515px;
	position:absolute;
	left:55px;
	top:53px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.357_9241 { 
	border:1px solid rgba(191.4782765507698, 191.4782765507698, 191.4782765507698, 1);
}
.e357_9242 { 
	width:114px;
	height:114px;
	position:absolute;
	left:115px;
	top:159px;
	border-top-left-radius:280px;
	border-top-right-radius:280px;
	border-bottom-left-radius:280px;
	border-bottom-right-radius:280px;
	background-image:url(images/profile.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.357_9244 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e357_9244 { 
	width:330px;
	height:0px;
	position:absolute;
	left:115px;
	top:134px;
}
.e357_9245 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:55px;
	position:absolute;
	left:108px;
	top:70px;
	font-family:Kadwa;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e357_9246 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:69px;
	position:absolute;
	left:223px;
	top:185px;
	font-family:Microsoft Sans Serif;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e357_9247 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:72px;
	position:absolute;
	left:109px;
	top:341px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e357_9248 { 
	color:rgba(0, 0, 0, 1);
	width:163px;
	height:15px;
	position:absolute;
	left:109px;
	top:456px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e357_9249 { 
	width:36.64513397216797px;
	height:36.66197967529297px;
	position:absolute;
	left:259px;
	top:482px;
}
.e357_9250 { 
	box-shadow:2px 6px 4px rgba(0, 0, 0, 0.4000000059604645);
	border-radius:500px;
	background-color:rgba(255, 0, 0, 1);
	width:36.64513397216797px;
	height:36.66197967529297px;
	position:absolute;
	left:0px;
	top:0px;
}
.357_9250 { 
	border:4px solid rgba(244.3749949336052, 255, 246.71252310276031, 1);
}
.e357_9251 { 
	color:rgba(255, 255, 255, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:6px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e424_9952 { 
	color:rgba(0, 0, 0, 1);
	width:150px;
	height:28px;
	position:absolute;
	left:109px;
	top:303px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e424_9957 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:28px;
	position:absolute;
	left:109px;
	top:423px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e326_9282 { 
	width:1738px;
	height:132px;
	position:absolute;
	left:125px;
	top:0px;
}
.ei326_9282_87_4105 { 
	background-color:rgba(255, 255, 255, 1);
	width:1738px;
	height:132px;
	position:absolute;
	left:0px;
	top:0px;
}
.logo { 
	width:100px;
	height:102.1276626586914px;
	position:absolute;
	left:10px;
	top:14.936168670654297px;
	border-top-left-radius:60px;
	border-top-right-radius:50px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei326_9282_87_4105_87_3346 { 
	background-color:rgba(255, 255, 255, 1);
	width:758px;
	height:96px;
	position:absolute;
	left:405px;
	top:18px;
}
.ei326_9282_87_4105_87_3347 { 
	width:59px;
	height:48px;
	position:absolute;
	left:0px;
	top:24px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei326_9282_87_4105_87_3348 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:24px;
	position:absolute;
	left:20px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.ei326_9282_87_4105_87_3349 { 
	width:156px;
	height:48px;
	position:absolute;
	left:156.33334350585938px;
	top:24px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei326_9282_87_4105_87_3350 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:24px;
	position:absolute;
	left:20px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.ei326_9282_87_4105_87_3351 { 
	width:119px;
	height:48px;
	position:absolute;
	left:409.66668701171875px;
	top:24px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei326_9282_87_4105_87_3352 { 
	color:rgba(255, 0, 0, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:20px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.ei326_9282_87_4105_87_3353 { 
	width:132px;
	height:48px;
	position:absolute;
	left:626px;
	top:24px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.ei326_9282_87_4105_87_3354 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:24px;
	position:absolute;
	left:47.5px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.ei326_9282_87_4105_87_3355 { 
	width:270px;
	height:42px;
	position:absolute;
	left:1458px;
	top:45px;
}
.ei326_9282_87_4105_87_4020 { 
	background-color:rgba(0, 0, 0, 1);
	width:25px;
	height:28px;
	position:absolute;
	left:0px;
	top:7px;
}
.ei326_9282_87_4105_87_3925 { 
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:42px;
	position:absolute;
	left:37px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.i326_9282_87_4105_87_3925 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei326_9282_87_4105_87_3925_221_109 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:18px;
	position:absolute;
	left:24px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.ei326_9282_87_4105_87_3357 { 
	background-color:rgba(255, 255, 255, 1);
	width:104px;
	height:42px;
	position:absolute;
	left:166px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.i326_9282_87_4105_87_3357 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.ei326_9282_87_4105_87_3357_221_109 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:18px;
	position:absolute;
	left:24px;
	top:12px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e77_3667 { 
	width:1382px;
	height:1193px;
	position:absolute;
	left:27px;
	top:145px;
}
.77_3509 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e77_3509 { 
	width:1300px;
	height:0px;
	position:absolute;
	left:25px;
	top:146.5px;
}
.e424_9951 { 
	width:248px;
	height:87px;
	position:absolute;
	left:100px;
	top:1081px;
}
.e419_11359 { 
	width:229px;
	height:35px;
	position:absolute;
	left:19px;
	top:52px;
}
.e419_11360 { 
	width:229px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.e419_11363 { 
	background-color:rgba(255, 0, 0, 1);
	width:53px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e419_11364 { 
	color:rgba(255, 255, 255, 1);
	width:21px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e419_11373 { 
	background-color:rgba(255, 0, 0, 1);
	width:59px;
	height:35px;
	position:absolute;
	left:65px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e419_11374 { 
	color:rgba(255, 255, 255, 1);
	width:27px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e419_11375 { 
	background-color:rgba(255, 0, 0, 1);
	width:93px;
	height:35px;
	position:absolute;
	left:136px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.e419_11376 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:19px;
	position:absolute;
	left:16px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e419_11380 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e77_3508 { 
	color:rgba(0, 0, 0, 1);
	width:1317px;
	height:92px;
	position:absolute;
	left:100px;
	top:53px;
	font-family:Kadwa;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e419_10148 { 
	width:572px;
	height:378px;
	position:absolute;
	left:100px;
	top:201px;
	background-image:url(images/test_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e77_3666 { 
	width:565px;
	height:447px;
	position:absolute;
	left:734px;
	top:169px;
}
.e424_10566 { 
	width:423px;
	height:104px;
	position:absolute;
	left:-22px;
	top:176px;
}
.e77_3512 { 
	color:rgba(0, 0, 0, 1);
	width:423px;
	height:71px;
	position:absolute;
	left:0px;
	top:33px;
	font-family:Kadwa;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e77_3511 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:47px;
	position:absolute;
	left:60px;
	top:0px;
	font-family:Kadwa;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e77_3516 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:76px;
	position:absolute;
	left:44px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e424_10568 { 
	width:151px;
	height:71px;
	position:absolute;
	left:6px;
	top:338px;
}
.e424_10598 { 
	background-color:rgba(255, 255, 255, 1);
	width:82px;
	height:29.58333396911621px;
	position:absolute;
	left:31px;
	top:41.41666793823242px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.424_10598 { 
	border:1px solid rgba(73.25937733054161, 209.31249797344208, 135.84378987550735, 1);
}
.ei424_10598_2_152 { 
	color:rgba(73.25937733054161, 209.31249797344208, 135.84378987550735, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:20px;
	top:5.7916669845581055px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e77_3720 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kadwa;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e424_10567 { 
	width:512px;
	height:99px;
	position:absolute;
	left:20px;
	top:75px;
}
.e77_3513 { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kadwa;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e77_3510 { 
	color:rgba(0, 0, 0, 1);
	width:487px;
	height:60px;
	position:absolute;
	left:25px;
	top:39px;
	font-family:Kadwa;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e424_10588 { 
	width:302.6899719238281px;
	height:51px;
	position:absolute;
	left:37px;
	top:271px;
}
.e424_10612 { 
	color:rgba(0, 0, 0, 1);
	width:31.12392234802246px;
	height:51px;
	position:absolute;
	left:271.5660400390625px;
	top:0px;
	font-family:Kadwa;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
}
.e424_10589 { 
	width:99px;
	height:47px;
	position:absolute;
	left:0px;
	top:4px;
}
.e424_10590 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kadwa;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e424_10591 { 
	color:rgba(0, 0, 0, 1);
	width:89.10528564453125px;
	height:51px;
	position:absolute;
	left:180.36416625976562px;
	top:0px;
	font-family:Kadwa;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
}
.e424_10592 { 
	width:25.46502685546875px;
	height:21px;
	position:absolute;
	left:102.82421875px;
	top:15px;
}
.e424_10593 { 
	width:25.46502685546875px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_156.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e424_10569 { 
	width:82px;
	height:30px;
	position:absolute;
	left:372px;
	top:281px;
}
.e424_10641 { 
	background-color:rgba(255, 255, 255, 1);
	width:82px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.424_10641 { 
	border:1px solid rgba(255, 0, 0, 1);
}
.ei424_10641_2_152 { 
	color:rgba(255, 0, 0, 1);
	width:56px;
	height:18px;
	position:absolute;
	left:13px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e424_11002 { 
	background-color:rgba(255, 0, 0, 1);
	width:198px;
	height:71px;
	position:absolute;
	left:324px;
	top:338px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.424_11002 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e424_11003 { 
	color:rgba(255, 255, 255, 1);
	width:133px;
	height:30.828947067260742px;
	position:absolute;
	left:31px;
	top:19.61842155456543px;
	font-family:Abhaya Libre;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e424_10060 { 
	width:1251px;
	height:250px;
	position:absolute;
	left:87px;
	top:616px;
}
.e424_10061 { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:64px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kadwa;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e424_10062 { 
	color:rgba(0, 0, 0, 1);
	width:1218px;
	height:197px;
	position:absolute;
	left:33px;
	top:53px;
	font-family:Kadwa;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e424_10557 { 
	width:530px;
	height:103px;
	position:absolute;
	left:87px;
	top:868px;
}
.e400_9129 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kadwa;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e400_9130 { 
	color:rgba(0, 0, 0, 1);
	width:500px;
	height:40px;
	position:absolute;
	left:30px;
	top:63px;
	font-family:Kadwa;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e424_10580 { 
	width:170px;
	height:72px;
	position:absolute;
	left:846px;
	top:507px;
}
.e424_10581 { 
	color:rgba(0, 0, 0, 1);
	width:170px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kadwa;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e424_10600 { 
	background-color:rgba(255, 255, 255, 1);
	width:82px;
	height:30px;
	position:absolute;
	left:44px;
	top:42px;
	border-top-left-radius:999px;
	border-top-right-radius:999px;
	border-bottom-left-radius:999px;
	border-bottom-right-radius:999px;
}
.424_10600 { 
	border:1px solid rgba(73.25937733054161, 209.31249797344208, 135.84378987550735, 1);
}
.ei424_10600_2_152 { 
	color:rgba(73.25937733054161, 209.31249797344208, 135.84378987550735, 1);
	width:56px;
	height:18px;
	position:absolute;
	left:13px;
	top:6px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e419_9345 { 
	width:1240px;
	height:258px;
	position:absolute;
	left:125px;
	top:1322px;
}
.e77_3674 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:70px;
	position:absolute;
	left:22px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e77_3710 { 
	width:430px;
	height:200px;
	position:absolute;
	left:0px;
	top:58px;
}
.e77_3673 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:385px;
	height:140px;
	position:absolute;
	left:20px;
	top:30px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.77_3673 { 
	border:1px solid rgba(191.4782765507698, 191.4782765507698, 191.4782765507698, 1);
}
.e77_3708 { 
	width:140px;
	height:140px;
	position:absolute;
	left:20px;
	top:30px;
	border-top-left-radius:180px;
	border-top-right-radius:180px;
	border-bottom-left-radius:180px;
	border-bottom-right-radius:180px;
	background-image:url(images/honeybee_doguri.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e77_3721 { 
	color:rgba(0, 0, 0, 1);
	width:212px;
	height:38px;
	position:absolute;
	left:168px;
	top:51px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e77_3729 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:169px;
	height:38px;
	position:absolute;
	left:189px;
	top:89px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e77_3711 { 
	width:430px;
	height:200px;
	position:absolute;
	left:810px;
	top:58px;
}
.e77_3676 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:385px;
	height:140px;
	position:absolute;
	left:20px;
	top:30px;
	border-radius:5px;
}
.77_3676 { 
	border:1px solid rgba(191.4782765507698, 191.4782765507698, 191.4782765507698, 1);
}
.e77_3707 { 
	width:140px;
	height:140px;
	position:absolute;
	left:20px;
	top:30px;
	border-top-left-radius:180px;
	border-top-right-radius:180px;
	border-bottom-left-radius:180px;
	border-bottom-right-radius:180px;
	background-image:url(images/sakura_doguri.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e77_3738 { 
	color:rgba(0, 0, 0, 1);
	width:212px;
	height:38px;
	position:absolute;
	left:160px;
	top:48px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e77_3740 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:169px;
	height:38px;
	position:absolute;
	left:181px;
	top:86px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e77_3712 { 
	width:420px;
	height:200px;
	position:absolute;
	left:405px;
	top:58px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e77_3675 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:385px;
	height:140px;
	position:absolute;
	left:20px;
	top:30px;
	border-radius:Symbol(figma.mixed)px;
}
.77_3675 { 
	border:1px solid rgba(191.4782765507698, 191.4782765507698, 191.4782765507698, 1);
}
.e77_3709 { 
	width:140px;
	height:140px;
	position:absolute;
	left:20px;
	top:30px;
	border-top-left-radius:180px;
	border-top-right-radius:180px;
	border-bottom-left-radius:180px;
	border-bottom-right-radius:180px;
	background-image:url(images/flower_doguri.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e77_3730 { 
	color:rgba(0, 0, 0, 1);
	width:212px;
	height:38px;
	position:absolute;
	left:160px;
	top:48px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e77_3732 { 
	color:rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:169px;
	height:38px;
	position:absolute;
	left:181px;
	top:86px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e77_3515 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:49px;
	position:absolute;
	left:139px;
	top:9px;
	font-family:Kadwa;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.home > p{
	color:red;
}
